* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #ea8db6 0%, #ffc0e3 50%, #f7f5f6 100%);
  color: #333;
  overflow-x: hidden;
  min-height: 100vh;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  max-width: 500px;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  background: white;
  color: rgb(255, 122, 162);
  cursor: pointer;
  transition: transform 0.3s;
}

.hero button:hover {
  transform: scale(1.05);
}

/* TIMELINE */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 100px auto;
  padding: 0 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #ffb6c1;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}

.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}

.content {
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content img {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.date {
  font-size: 0.85rem;
  color: #ff7aa2;
}

/* FINAL */
.final-message {
  text-align: center;
  padding: 100px 20px;
}

.final-message h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* FLOATING */
.floating-elements span {
  position: fixed;
  bottom: -50px;
  font-size: 20px;
  animation: float 10s linear infinite;
  opacity: 0.6;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120vh);
  }
}
